name: CICD
run-name: Running
on:
  push:
    branches:
      - main

env:
  AWS_REGION: ap-northeast-2
  AWS_S3_BUCKET: varwonbucket
  AWS_CODE_DEPLOY_APPLICATION: cicd-var-CD
  AWS_CODE_DEPLOY_GROUP: cicd-var-CD-group

jobs:
  build-with-gradle:
    runs-on: ubuntu-22.04
    steps:
      - name: main 브랜치로 이동
        uses: actions/checkout@v3
        with:
          ref: main
      - name: JDK 21 설치
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'corretto'
      - name: AWS credential 설정
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-region: ${{ env.AWS_REGION }}
          aws-access-key-id: ${{ secrets.CICD_ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.CICD_SECRET_KEY }}
      - name: Download config files from S3
        run: |
          aws s3 cp s3://$AWS_S3_BUCKET/ssl/keystore.p12 src/main/resources/ssl/keystore.p12
          aws s3 cp s3://$AWS_S3_BUCKET/yml/application-database.yml src/main/resources/application-database.yml
          aws s3 cp s3://$AWS_S3_BUCKET/yml/application-iamport.yml src/main/resources/application-iamport.yml
          aws s3 cp s3://$AWS_S3_BUCKET/yml/application-jwt.yml src/main/resources/application-jwt.yml
          aws s3 cp s3://$AWS_S3_BUCKET/yml/application-mail.yml src/main/resources/application-mail.yml
          aws s3 cp s3://$AWS_S3_BUCKET/yml/application-oauth.yml src/main/resources/application-oauth.yml
          aws s3 cp s3://$AWS_S3_BUCKET/yml/application-port.yml src/main/resources/application-port.yml
          aws s3 cp s3://$AWS_S3_BUCKET/yml/application-redis.yml src/main/resources/application-redis.yml
      - name: gradlew에 실행 권한 부여
        run: chmod +x ./gradlew
      - name: 프로젝트 빌드
        run: ./gradlew clean build -x test
      - name: S3에 업로드
        run: aws deploy push --application-name ${{ env.AWS_CODE_DEPLOY_APPLICATION }} --ignore-hidden-files --s3-location s3://$AWS_S3_BUCKET/cicd/$GITHUB_SHA.zip --source .
      - name: EC2에 배포
        run: aws deploy create-deployment --application-name ${{ env.AWS_CODE_DEPLOY_APPLICATION }} --deployment-config-name CodeDeployDefault.AllAtOnce --deployment-group-name ${{ env.AWS_CODE_DEPLOY_GROUP }} --s3-location bucket=$AWS_S3_BUCKET,key=cicd/$GITHUB_SHA.zip,bundleType=zip